h1
{
    text-align: center;
    color: brown;
    font-family: Bowlby One SC;
    font-size: 50px;
}

input
{
    font-size: 40px;
    width: 200px;
    height: 75px;
    background-color: firebrick;
    color: wheat;
    border: 2px solid white;
    border-radius: 10px
}

img
{
    width: 200px;
    height: 350px
}